
$floatHover
  cursor: pointer
  box-shadow: 0 14px 28px alpha($dark, 0.125), 0 10px 10px alpha($dark, 0.11)

button:focus
  outline: 0
.artboard
  transform-origin: top center
.controller
  color: $dark
  box-sizing: border-box
  &-buttons
    position: fixed
    z-index: 200
    bottom: 30px
    right: 40px
    svg
      transition: 0.4s
    button
      transition: 0.4s
      &:not(:last-child)
        margin-right: 20px
      &.is-rotated >svg
        transform: rotate(45deg)
      &:hover
        @extends $floatHover
  &-intro
    text-align: center
    font-size: 30px
    color: $dark
    font-weight: normal
  &-list
    position: fixed
    z-index 300
    top: 0
    left: 0
    bottom: 0
    margin: 0
    width: 250px
    background: $white
    margin-left: (- @width - 10)
    padding: 20px 10px
    display: flex
    flex-direction: column
    overflow: scroll
    list-style: none
    transition: 0.4s
    box-shadow: 1px 0 10px alpha($dark, 20%)
    &.is-visiable
      margin-left: 0
  &-group
    display: none
    padding: 0
    margin: 0
    list-style: none
    li
      width: 90%
      margin: 10px auto
    li.is-visiable &
      display: block
  &-icon
    width: 24px
    height: 24px
    fill: $gray
    transition: 0.4s
    li.is-visiable &
     transform: rotate(180deg)

  &-theme
    width: 100%
    padding: 10px
    border: 1px solid $gray
    background-color: $white
    border-radius: 4px
    cursor: pointer
    font-size: 12px

  &-element
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    min-height: 50px
    border-radius: 5px
    background: darken($gray, 10%)
    transition: 0.3s
    cursor: pointer
    color: $white
    overflow: hidden
    img
      max-width: 100%
    &:hover
      @extends $floatHover

  &-header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 5px
    border-bottom: 1px solid alpha($black, 5%)

.is-hidden
  display: none
.sortable-ghost
  border: 2px solid $blue
  opacity: 0.3
.add-center-bottom
  position: absolute
  right: 0
  bottom: 0
  left: 0
  text-shadow: 1px 1px 2px alpha($black, 80%)
  text-align: center
  padding: 5px

.is-editable:not(section):not(header)
.uploader
  position: relative
  border: 1px solid alpha($black, 0%)
  &:focus
    outline: 0
  &:hover
    border: 1px solid alpha($black, 10%)

section.is-editable
  position: relative
  border: 1px solid transparent
  &:hover
    border: 1px solid alpha($black, 10%)

.column
  transition: 0.4s